# Compare tool cache
/data/compare_cache/
.venv/

# Server state
/data/state.json

# Worker cache
/worker/cache/

# Local configs/status
/worker/status.json
/worker/config.json
/tools/compare/config.json
/tools/procman/processes.json

*__pycache__*

*simple-rust-process-manager*
